// common
$lg-leftSide-margin-left: 38px;
$md-leftSide-padding-left: 40px;

$md-rightSide-margin-left: 40px;

// font
$font-title: normal bold 24px 'Roboto Bold', sans-serif;
$font-title2: normal bold 36px 'Roboto Bold', sans-serif;
$font-subtitle: normal bold 20px 'Roboto Bold', sans-serif;
$font-paragraph: normal normal 16px 'Roboto Regular', sans-serif;
$font-remark: normal normal 16px 'Roboto Regular', sans-serif;
$font-placeholder: normal normal 20px 'Roboto Regular', sans-serif;
$font-lable: italic normal 16px 'Roboto Italic', sans-serif;

// header
$md-header-content-height: 44px;