.tf-navbar {
  @include media-breakpoint-up(xs) { 
    height: $xs-header-height;
  }

  @include media-breakpoint-up(md) { 
    height: $md-header-height;
  }

  .tf-brand {
    @include media-breakpoint-up(xs) { 
      width: auto;
      display: flex;
      align-items: center;
      margin: auto;
    }
    
    @include media-breakpoint-up(md) {
      width: $left-side-content-width;
      display: block;
      padding-left: $md-leftSide-padding-left;
      margin-left: 0;
      margin-right: 0;
    }
    
    @include media-breakpoint-up(lg) {
      display: block;
      margin-left: $lg-leftSide-margin-left;
    }

    .tf-brand-logo {
      img {
        @include media-breakpoint-up(xs) { 
          margin: auto;
          width: 105px;
          height: 29px;
        }
      
        @include media-breakpoint-up(md) {
          margin: 0;
          width: 157px;
          height: $md-header-content-height;
        }

      }
    }
  }

  .tf-navbar-content {
    margin-left: $md-rightSide-margin-left;
    @include media-breakpoint-up(xs) {
      display: none;
    }

  }

  .tf-search {
    height: $md-header-content-height;
    border-bottom: 1px solid $white;
    width: 388px;
  }

  .tf-search-icon {
    font-size: 20px;
    color: $white;
  }

  .tf-search-input {
    width: calc(100% - 36px);
    margin-left: 8px;
    background-color: transparent;
    border: 0;
    color: $white;
    font: $font-paragraph;
    font-size: 20px;
    &::placeholder {
      color: rgba(255,255,255,0.50);
      font: $font-lable;
      font-size: 20px;
    }

  }

  .tf-filter-collapse {
    margin-right: 24px;
    display: block;
    &:hover {
      cursor: pointer;
    }
    
  }

}